@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-primary: var(--ui-color-primary-400);
}

@theme static {
  --color-mint-50: oklch(97.68% 0.02 166.74);
  --color-mint-100: oklch(94.34% 0.04 163.21);
  --color-mint-200: oklch(89% 0.07 164.61);
  --color-mint-300: oklch(81.52% 0.1 166.47);
  --color-mint-400: oklch(69.27% 0.12 165.06);
  --color-mint-500: oklch(64.4% 0.13 165.01);
  --color-mint-600: oklch(54.68% 0.11 165.98);
  --color-mint-700: oklch(46.85% 0.09 168.27);
  --color-mint-800: oklch(39.99% 0.07 169.22);
  --color-mint-900: oklch(35.16% 0.06 171.62);
  --color-mint-950: oklch(24.67% 0.04 173.17);
}
